<?xml version="1.0"?>
<phpunit
    bootstrap="./tests/Bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuite name="Sastrawi tests">
        <directory>./tests/SastrawiTest</directory>
    </testsuite>
    <testsuite name="Sastrawi Functional tests">
        <directory>./tests/SastrawiFunctionalTest</directory>
    </testsuite>
    <testsuite name="Sastrawi Integration tests">
        <directory>./tests/SastrawiIntegrationTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
